body{
  font-size: larger;
}

.head{
  background-color:black;
  color:white;
  position: relative;
  height:10vh;
  align-items: center;
 margin:10px;
 
}
h2{
  position: relative;
  left:400px;
 top:10px
}
.card{
  
  width:80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
 margin:5px
}